body {
	padding: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #fff;
	
	background-image: linear-gradient(bottom, rgb(137,160,47) 19%, rgb(103,136,36) 42%, rgb(62,107,22) 77%);
	background-image: -o-linear-gradient(bottom, rgb(137,160,47) 19%, rgb(103,136,36) 42%, rgb(62,107,22) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(137,160,47) 19%, rgb(103,136,36) 42%, rgb(62,107,22) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(137,160,47) 19%, rgb(103,136,36) 42%, rgb(62,107,22) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(137,160,47) 19%, rgb(103,136,36) 42%, rgb(62,107,22) 77%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.19, rgb(137,160,47)),
		color-stop(0.42, rgb(103,136,36)),
		color-stop(0.77, rgb(62,107,22))
	);
}

.list-tiles{
	
}
.list-tiles li{
	margin: 2mm;
	width: 191px;
	height: 92px;
}
.tile{
	width: 100%;
	height: 100%;
}
.tile img:first-of-type{
	float: left;
}
.tile p:first-of-type{
	color: inherit;
	font-size: inherit;
	float: right;
	font-weight: bold;
	margin: 4mm 2mm 0mm 0mm;
}
.tile p{
	float: left;
	font-size: 8pt;
	color: #D8D8D8;
	margin: -2mm 2mm 2mm 3mm;
}
.fill-blue{
	background-image: linear-gradient(right bottom, rgb(2,77,158) 26%, rgb(2,70,133) 46%, rgb(6,60,118) 72%);
	background-image: -o-linear-gradient(right bottom, rgb(2,77,158) 26%, rgb(2,70,133) 46%, rgb(6,60,118) 72%);
	background-image: -moz-linear-gradient(right bottom, rgb(2,77,158) 26%, rgb(2,70,133) 46%, rgb(6,60,118) 72%);
	background-image: -webkit-linear-gradient(right bottom, rgb(2,77,158) 26%, rgb(2,70,133) 46%, rgb(6,60,118) 72%);
	background-image: -ms-linear-gradient(right bottom, rgb(2,77,158) 26%, rgb(2,70,133) 46%, rgb(6,60,118) 72%);
	
	background-image: -webkit-gradient(
		linear,
		right bottom,
		left top,
		color-stop(0.26, rgb(2,77,158)),
		color-stop(0.46, rgb(2,70,133)),
		color-stop(0.72, rgb(6,60,118))
	);
}
.fill-orange{
	background-image: linear-gradient(right bottom, rgb(227,161,20) 26%, rgb(223,149,21) 46%, rgb(219,130,21) 72%);
	background-image: -o-linear-gradient(right bottom, rgb(227,161,20) 26%, rgb(223,149,21) 46%, rgb(219,130,21) 72%);
	background-image: -moz-linear-gradient(right bottom, rgb(227,161,20) 26%, rgb(223,149,21) 46%, rgb(219,130,21) 72%);
	background-image: -webkit-linear-gradient(right bottom, rgb(227,161,20) 26%, rgb(223,149,21) 46%, rgb(219,130,21) 72%);
	background-image: -ms-linear-gradient(right bottom, rgb(227,161,20) 26%, rgb(223,149,21) 46%, rgb(219,130,21) 72%);
	
	background-image: -webkit-gradient(
		linear,
		right bottom,
		left top,
		color-stop(0.26, rgb(227,161,20)),
		color-stop(0.46, rgb(223,149,21)),
		color-stop(0.72, rgb(219,130,21))
	);
}
